$primary: orange;
$secondary: green;
$white: #fff;
$body-color: #000;

button {
    background: transparent;
    border: 0;
}

.logo {
    position: relative;
    text-decoration: none;
    display: inline-block;
    line-height: 1;

    img {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 170px;
    }

    span {
        line-height: 1;
        color: $body-color;
    }

    .lead {
        position: absolute;
        top: 100%;
        right: 0;
        font-size:  17px;
        font-weight: 600;
    }

    .title {
        font-size:  40px;
        font-weight: 400;
        font-family: 'League Gothic', sans-serif;
        span {
            color: $secondary;
        }
    }
}

@media (max-width: 1400px) {
    .logo {
        .title {
            font-size:  34px;
        }
    }
}

@media (max-width: 1200px) {
    .logo {
        .title {
            font-size:  26px;
        }

        .lead {
            font-size: 12px;
        }
    }
}

@media (max-width: 992px) { 
    .logo {
        .lead, img {
            display: none;
        }
    }
}

@media (max-width:  552px) {
    .logo {
        .title {
            font-size:  18px;
        }
    }
}



#header {
    padding:  10px 35px;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    margin-bottom: 36px;
}



#main-navigation {
    display: flex;

    .menu {
        
       

        &, & ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        & {
            display: flex;
            margin: auto;
        }

        li+li {
            margin-left:  20px;
        }

        li {
            position: relative;
            margin-bottom: 0;
        }

        a {
            padding:  10px;
            color: inherit;
            line-height: 1;
            font-size:  24px;
            font-weight: 700;
            transition: color .2s linear;

            &:hover {
                color: $primary;
            }
        }

        ul {
            display: none;
            position: absolute;
            min-width: 203px;
            background: #fff;
            padding:  5px;
            border: 5px solid rgba(64, 64, 65, 0.4);
            border-radius: 6px;
            z-index: 1;

            li {
                margin-left: 0;
            }

            a {
                font-weight: 500;
                display: block;
            }
        }
        
}

    a {
        text-decoration: none;
        display: inline-block;
    }

    .contact {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        li:not(:last-child) {
            margin-bottom:  10px;
        }


        a {
            font-size:  20px;
            line-height: 1;
            font-weight: 600;
        }

        svg {
            height: 30px;
            width: 30px;

            path {
                fill: $secondary;
            }
        }

        .btn-primary {
            font-size:  30px;
            padding:  10px  20px;
            min-width: 123px;
            font-weight: 400;
        }
    }
}

.open-menu-btn {
    display: none;

    span {
        display: block;
        height: 3px;
        width: 30px;
        background-color: $body-color;
        border-radius: 3px;
    }

    span:not(:last-child) {
        margin-bottom:  5px;
    }
}

@media (min-width: 992px) {
    #main-navigation .menu li:hover > ul {
        display: block;
    }
}

@media (max-width: 1400px) {
    #main-navigation {

        .menu,
        .contact {
            a {
                font-size:  20px;
            }
        }

        .contact {
            .btn {
                font-size:  24px;
            }
        }
    }
}

@media (max-width: 1200px) {
    #main-navigation {

        .menu,
        .contact {
            a {
                font-size:  16px;
            }
        }

        .contact .btn {
            font-size:  18px;
        }
    }
}

@media (max-width: 992px) {
    .open-menu-btn {
        display: block;
    }

    #main-navigation {
        display: none;

        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: $white;
        min-height: calc(100vh - 100%);
        padding-top:  80px;

        .menu {
            flex-direction: column;
            margin-bottom:  40px;

            li {
                text-align: center;
                margin: 0;
            }

            .has-child {
                .fa-arrow {
                    position: absolute;
                    top: 2px;
                    right: 20px;
                    transform: rotate(315deg);
                    transition: all .2s linear;
                    cursor: pointer;
                    display: block;
                    line-height: 1;
                    padding: 4px 7px;
                }

                .fa-arrow::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-left: 1px solid $body-color;
                    border-bottom: 1px solid $body-color;
                    display: inline-block;
                }

                &.active {
                    > ul {
                        display: block;
                    }

                    > .fa-arrow {
                        transform: rotate(135deg);
                    }
                }
            }
        }

        .contact  {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }

        .menu ul {
            position: static;
            width: fit-content;
            margin: auto;
        }
    }

    .menu-open {
        #main-navigation {
            display: block;
        }
    }
}



@media (max-width: 992px) {
#header {
    padding:  10px 12px;
    border-radius: 0;
}

}